/* navigation */

#main-nav .container .social-media{
    display:none;
}
#main-nav .container{
    grid-template-columns:1fr;
    grid-gap:1.2rem;
}
#main-nav .nav,#main-nav .logo{
    justify-self:center;
}
#main-nav ul li a{
    padding:.50rem;
}
#home-articles .articles-container{
    grid-template-columns:repeat(2,1fr);

}
#showcase .showcase-container{
    grid-template-columns:1fr;
}
#home-articles .articles-container >*:first-child,#home-articles .articles-container >*:last-child {
    grid-template-columns: 1fr;
    grid-column:1;
}
p{
    margin:.5rem;
}
.py-1{
    padding:1rem 1rem;
}
.page-container{
    grid-template-columns:1fr;
    grid-gap:1rem;
    margin: 0rem .5rem;
}
.page-container > *:first-child{
    grid-column:1;
}
@media(max-width:600px){
    #showcase .showcase-container,#home-articles .articles-container,#footer .footer-container{
        grid-template-columns:1fr;
        padding:.8rem 1rem;
        

    }
    p{
        margin:.25rem;
    }
   #footer .footer-container > div:last-child{
        grid-column:1;
        border-bottom:none;
        background:#333;
    }
    #footer .footer-container{
        padding-left:1.5rem
    }
    #footer .footer-container >*{
        border-bottom:#444 dotted 1.6px;
        padding-bottom: 1rem;
    }
    #footer .footer-container > :nth-child(4){
        border-bottom:none;
    }
   



}